.card {
  [data-react-toolbox="avatar"] > img {
    height: 65px !important;
  }
}

.avatar {
  height: 65px !important;
}


.itemAction {
  [data-react-toolbox="font-icon"] {
    color: #e64e5f;
  }
}
.divider {
  background-color: #e64e5f;
}



.divColor {
    background-color: #e64e5f !important;
    height: 2px;
}

.list {
  margin-bottom: 0 !important;
}
.itemContentRoot {
  font-family: Roboto;
}
.avatarFix {
  position: relative;
  top: -2px;
  left: -3px;
}