.icon {
  font-size: .5em;
}
.button {
  font-size: 2em;
}
.score {
  line-height: 10px;
  font-size: 1.5em;
}
.card {
  -ms-flex-direction: inherit !important;
      flex-direction: inherit !important;
  border: #e64e5f solid 3px;
  border-radius: 12px;
}

.rightWrapper {
	margin: auto;
	padding-right: 10px;
}