

.icon {
  font-size: .5em;
}
.button {
  font-size: 2em;
}
.score {
  line-height: 10px;
  font-size: 1.5em;
}
.card {
  flex-direction: inherit !important;
  border: black solid 1px;
  border-radius: 12px;
}
