.card {
  margin-top: 12px;
  border-radius: 12px;
  min-height: 520px;
  border: 4px solid #e64e5f;
}

.mastery {
  &:hover {
    background-color: #1D2030;
    h4 {
      color: white !important;
    }
  }
}

.cardHotfix {
  min-eight: 355px !important;
}