.card {
	border-radius: 12px;
	text-align: center;
	border: 3px solid #e64e5f;
  font-family: Roboto;
}

.item {
  padding: 0 10px !important;
}

.itemText {
  width: 150px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}