{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reddit Alpha</title>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Reddit Alpha Clan System{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/icon.png' %}"/>

        {% block head_css %}
            <link href="{% static 'css/project.css' %}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        <div id="App"></div>
        
        {% block tail_js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src="{% static 'js/project.js' %}"></script>

            <script>
                var BACKEND_CARDS = [
                    {% for card in cards %}
                        {
                            "id": {{ card.id }},
                            "name": "{{ card.name }}",
                            "cost": {{ card.cost|default:"null" }},
                            "image_url": "{{ card.base_image_url }}" 
                        },
                    {% endfor %}
                ];


                {% if request.user.is_authenticated %}
                    var AUTH = {
                        user: {{ request.user.as_json|safe }},
                        csrftoken: "{{ csrftoken }}",
                        sessionid: "{{ request.session.session_key }}"
                    };

                    var AVATAR_URL = AUTH.user.avatar;

                {% else %}
                    var AUTH = {
                        user: null,
                        csrftoken: null,
                        sessionid: null
                    };

                    var AVATAR_URL = 'http://vignette3.wikia.nocookie.net/siivagunner/images/9/9f/Discord_icon.svg/revision/latest?cb=20160623172043';
                {% endif %}
            </script>
            {% render_bundle 'vendors' %}
            {% render_bundle 'App' %}
        {% endblock %}
    </body>
</html>
